
$bg-color: #333;
$thing-bg-color: #0f0;


#field {
    width: 480px;
    height: 640px;

    background-color: $bg-color;
}

.thing {
    width: 64px;
    height: 64px;

    background-color: $thing-bg-color;
}
