
$bg-color: #333;

$thing-width: 64px;
$thing-height: 64px;
$thing-bg-color: #0f0;
$thing-clickable-bg-color: #f00;
$thing-clicked-bg-color: #0ff;
$thing-missed-bg-color: #ff0;
$thing-border-color: #000;

html, body {
    height: 100%;
}

body {
    padding: 10px 0;
}

.header {
    border: none;
}

.footer {
    position: absolute;
    bottom: 10px;
    padding-top: 10px;

    border: none;
}

#base {
    width: 100%;
    height: 100%;
    max-width: 360px;
    max-height: 567px;
    padding: 0;
}

#field {
    width: 100%;
    height: 100%;
    max-width: 360px;
    max-height: 567px;

    position: absolute;
    top: 0;
    z-index: -1;

    background-color: $bg-color;

    transform-style: preserve-3d;
    perspective: 1000px;
    perspective-origin: 50% 80%;
}

.thing {
    width: $thing-width;
    height: $thing-height;

    position: absolute;
    top: -($thing-width / 2);
    left: -($thing-height / 2);

    background-color: $thing-bg-color;
    border: solid 1px $thing-border-color;

    transition: transform 4s linear;

    &-invisible {
        visibility: hidden;
    }

    &-clickable {
        background-color: $thing-clickable-bg-color;
    }

    &-clicked {
        background-color: $thing-clicked-bg-color;
        transition: background-color 0s;
    }

    &-missed {
        background-color: $thing-missed-bg-color;
        transition: background-color 0s;
    }
}
